.signUp {
    border: 3px solid rgb(157, 151, 151);
    max-width: 400px;
    border-radius: 5px;
    margin: 50px auto;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 90%;
    border: none;
    border-bottom: 1px solid rgb(199, 191, 191);
    margin: 10px auto;
    height: 50px;
    color: black;
    font-size: 20px;
}

.form input:focus {
    color: rgb(73, 71, 73);
}

.signUp h1 {
    color: coral;
    font-size: 22px;
}

.signupBtn {
    height: 50px;
    width: 90%;
    margin: 20px auto;
    font-size: 20px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.signUp h3 .link {
    border-bottom: 1px solid black;
    font-weight: 700;
    color: rgb(67, 98, 201);
}

.signUp h3 {
    font-weight: 400;
    text-align: center;
}

.orContainer {
    display: flex;
    width: 400px;
    margin: 0% auto;
    justify-content: center;
}

.lines {
    width: 45%;
    border-top: 1px solid rgb(112, 110, 110);
    margin: 5px;
}

.orContainer h3 {
    position: relative;
    bottom: 28px;
    font-weight: 500;
}

.socialSignup {
    margin-bottom: 50px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.signupSites {
    cursor: pointer;
    display: flex;
    border-radius: 50px;
    padding: 5px;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    border: 1px solid rgb(173, 171, 171);
}

.signupSites img {
    height: 40px;
    border: rgb(137, 133, 133) 1px solid;
    border-radius: 50%;
}

.signupSites h4{
    font-weight: 600;
    color: coral;
    margin-left: 80px;
}

.signupSites .icons{
    font-size: 40px;
}

.signupSites .facebookIcon{
    color: cornflowerblue;
}

.signupSites .googleIcon{
    color: rgb(65, 73, 54);
}