* {
    text-decoration: none;
}

.home {
    background-image: url('../../images/night-road.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0%;
}

.rides {
    width: 100%;
    position: relative;
    top: 150px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 500px){
    .rides{
        flex-direction: column;
        height: 100%;
        position: relative;
        margin-bottom: 200px;
        background-color: black;
    }
    .home{
        height: 1800px;
    }
}